.advantage-list {
  margin: 0;
  margin-top: 50px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: $special-fontstack;

  list-style: none;

  @media (max-width: $tablet-width-only) {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}

.advantage-list__item {
  position: relative;

  margin-right: 10px;
  margin-bottom: 30px;
  padding: 22px 40px;
  padding-right: 20%;
  width: 48.7%;
  min-height: 235px;

  background-color: $basic-light-color;
  border-radius: 6px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &::after {
    position: absolute;
    top: calc(50% - 193px / 2);
    right: 10px;

    width: 193px;
    height: 193px;

    content: "";

    background-image: none;
    background-repeat: no-repeat;
    background-size: 193px 193px;
    background-position: center center;

    @media (max-width: $mobile-width-only) {
      right: calc(50% - 193px / 2);

      opacity: 0.05;
    }
  }

  &--time::after {
    background-image: url("../img/time.svg");
  }

  &--speed::after {
    background-image: url("../img/speed.svg");
  }

  &--info::after {
    background-image: url("../img/information.svg");
  }

  &--chat::after {
    background-image: url("../img/chat.svg");
  }

  @media (max-width: $tablet-width-only) {
    padding-right: 250px;
    width: 570px;
  }

  @media (max-width: $mobile-width-only) {
    padding-right: 22px;
    width: 100%;

    text-align: center;
  }
}

.advantage-list__item h3 {
  margin: 0;
  margin-top: 22px;

  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: $text-high-dark-color;
}

.advantage-list__item p {
  margin: 0;
  margin-top: 22px;
  padding: 0;

  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: $text-dark-color;
  text-align: inherit;
}

.advantage-list__item br {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
