.login {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $special-overlay-grey-color;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.login__inner {
  position: relative;

  padding: 60px;
  padding-bottom: 55px;
  width: 490px;

  background-color: $basic-white-color;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  @media (max-width: $mobile-width-only) {
    padding: 30px;
    padding-top: 80px;
    width: 100%;
    min-height: 100%;

    border-radius: 0;
  }
}

.login form {
  padding-top: 17px;
}

.login h2 {
  margin: 0;

  font-family: $secondary-fontstack;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: $text-high-dark-color;
}

.login__field {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
}

.login label {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $text-dark-color;
}

.login input {
  margin-top: 10px;
  padding: 12px 17px;

  font-weight: 325;
  font-size: 16px;
  line-height: 16px;

  border: 1px solid $special-border-grey-color;
  box-sizing: border-box;
  border-radius: 4px;

  &:focus,
  &:hover {
    border-color: $basic-orange-color;
  }
}

.login [type="submit"] {
  margin-top: 35px;
  padding: 16px;
  width: 100%;
  display: block;

  font-family: $secondary-fontstack;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $basic-white-color;

  background: $basic-orange-color;
  border: none;
  border-radius: 4px;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.login button {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 14px;
  width: 42px;
  height: 42px;

  background-color: transparent;
  border: none;

  &:focus,
  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}
