.promo {
  z-index: 2;
  position: relative;

  margin-top: 100px;
  margin-left: 30px;
  padding: 70px;

  font-family: $secondary-fontstack;

  background-image: linear-gradient(90deg, $special-plum-start-color 0%, $special-plum-end-color 100%);
  border-radius: 10px;

  &::before {
    z-index: -1;
    position: absolute;
    top: 19px;
    right: 0;

    width: 732px;
    height: 340px;

    content: "";

    background-image: url("../img/registration-cover.png");
    background-size: 734px 340px;
    background-position: center center;
    background-repeat: no-repeat;

    @media (max-width: $tablet-width-only) {
      opacity: 0.1;
    }

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (max-width: $tablet-width-only) {
    margin-right: 30px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 35px;
  }
}

.promo p {
  margin: 0;
  width: 558px;

  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  color: $basic-white-color;

  @media (max-width: $tablet-width-only) {
    margin: 0 auto;

    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: auto;

    font-family: $main-fontstack;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.3em;
  }
}

.promo a {
  margin-top: 46px;
  padding: 16px;
  width: 222px;
  display: inline-block;

  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
  color: $basic-white-color;

  background-color: $basic-orange-color;
  border-radius: 4px;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width-only) {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  @media (max-width: $mobile-width-only) {
    width: auto;
  }
}
