meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content="Подбор авто в лизинг по выгодной цене")
link(rel="preload", href="fonts/Whitney-Book.woff2", as="font", crossorigin="anonymous")
link(rel="preload", href="fonts/Whitney-Light.woff2", as="font", crossorigin="anonymous")
link(rel="preload", href="fonts/Whitney-Semibold.woff2", as="font", crossorigin="anonymous")
link(rel="stylesheet", href="css/style.min.css")
