main
  h1.visually-hidden Официальная страница компании Test
  section.advantage
    .container
      h2.visually-hidden Наши преимущества
      p Меньше условий – больше возможностей
      ul.advantage__list.advantage-list
        li.advantage-list__item.advantage-list__item--time
          h3 Экономия времени
          p Дополнительный канал<br>потенциальных клиентов, готовых приобрести автомобиль, без затрат<br>на рекламу и маркетинг.
        li.advantage-list__item.advantage-list__item--speed
          h3 Никаких задержек
          p Вы получаете запросы сразу же<br>после отправки клиентом.
        li.advantage-list__item.advantage-list__item--info
          h3 Максимальная информативность
          p В каждой заявке указан регион поиска, марка и модель авто, а так же  индивидуальные запросы клиента.
        li.advantage-list__item.advantage-list__item--chat
          h3 Удобство общения
          p Для каждого запроса у вас открыт<br>чат с клиентом с возможностью отправки документов.
  .container
    article.promo
      h2.visually-hidden Для новых пользователей
      p Регистрируйся и получай актуальные запросы на автомобили от заинтерисованных клиентов
      a(href="#") Регистрация
