// Блок с предупреждением не является частью страницы.
// Просто показывает информацию для случайных посетителей.
#warning-alert.warning-alert.warning-alert--nojs
  strong Внимание!
  span  Этот сайт не настоящий, а всего лишь демонстрация, любые совпадения случайны.
  button(type="button")
      span ✖
      span.visually-hidden Закрыть предупреждение
