/* Fonts */

$main-fontstack: "Whitney Book", "Arial", sans-serif;
$secondary-fontstack: "Whitney", "Arial", sans-serif;

/* Colors */

$basic-white-color: #ffffff;
$basic-orange-color: #f25b24;

$text-dark-color: #474351;

$special-plum-start-color: #2d1686;
$special-plum-end-color: #4e33b5;

/* Layout */

$max-container-width: 1200px;
