/* Fonts */

$main-fontstack: "Whitney Book", "Arial", sans-serif;
$secondary-fontstack: "Whitney", "Arial", sans-serif;
$special-fontstack: "Segoe UI", "Arial", sans-serif;

/* Colors */

$basic-white-color: #ffffff;
$basic-light-color: #f6f5f9;
$basic-orange-color: #f25b24;

$text-dark-color: #474351;
$text-high-dark-color: #2e2d35;

$special-plum-start-color: #2d1686;
$special-plum-end-color: #4e33b5;
$special-overlay-grey-color: rgba(28, 24, 47, 0.3);
$special-border-grey-color: #dddae7;
$special-black-shadow-color: rgba(0, 0, 0, 0.25);

/* Layout */

$max-container-width: 1200px;

$tablet-width-only: 1023px;
$mobile-width-only: 767px;
$mobile-width: 320px;
