@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Light.woff2") format("woff2"),
    url("../fonts/Whitney-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Semibold.woff2") format("woff2"),
    url("../fonts/Whitney-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney Book";
  src: url("../fonts/Whitney-Book.woff2") format("woff2"),
    url("../fonts/Whitney-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
