doctype html
html(lang="ru")
  head
    include includes/head.pug
    title Подбор авто в лизинг
  body
    include includes/main-header.pug
    include includes/main-content.pug
    script(src="js/script.js")
